@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-Orbit {
  font-family: "Orbit-Regular";
}

@layer components {
  .container {
    @apply min-h-screen max-w-screen-md mx-auto px-8 pt-20;
  }

  .btn-style {
    @apply border-2 border-black px-2 rounded-md;
  }
}
